.navbar-light .navbar-brand {
    color: white;
    background-color:#0bada6;
    font-family: courier;
}

.nav-link:hover{
    background-color:#E7E7E7 !important;
}

.navbar-brand:hover{
    color: rgb(175, 175, 175) !important;
}

body {
    background-color: lightgray;
}

span {
    padding-right: 10px;
    padding-left: 10px;
}

.navbar {
    padding: 0rem 0rem;
}

.navbar-brand {
    margin-left: 1rem;
}